{% extends "base.html" %}

{% block title %}Welcome - CommunityWatch{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to CommunityWatch</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Report local civic issues, track their status, and engage with community efforts for resolution.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            {% if not user.is_authenticated %}
                <a href="{% url 'users:register' %}" class="btn btn-primary btn-lg px-4 gap-3">Register Now</a>
                <a href="{% url 'users:login' %}" class="btn btn-outline-secondary btn-lg px-4">Login</a>
            {% else %}
                <a href="{% url 'issues:report_issue' %}" class="btn btn-primary btn-lg px-4 gap-3">Report a New Issue  (comming soon)</a>
                <a href="#" class="btn btn-outline-secondary btn-lg px-4">View Issues</a> <!-- TODO: add real link later -->
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
